<form action="/emp" method="post">
    <div class="d-grid gap-2 col-6 mt-2 mx-auto">
        <label class="form-check-label" for="company">
            Select to filter
        </label>
        <div id="company">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="compSelect" value="all" id="A">
                <label class="form-check-label" for="A">
                    All
                </label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="compSelect" value="bsa" id="BSA">
                <label class="form-check-label" for="B">
                    Bakhresa SA PTY (LTD)
                </label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="compSelect" value="indgro" id="Indgro">
                <label class="form-check-label" for="C">
                    Indgro Multi Services Group
                </label>
            </div>
            <div class="text-center d-inline">
                <button class="btn btn-primary" name="login" value="Login" on type="submit">
                    <i class="fa-solid fa-filter"></i> Filter
                </button>
            </div>
        </div>

    </div>
</form>

<div class="col-6 my-2 mx-auto">
    <div class="d-inline-block"><i class="fa-solid fa-magnifying-glass"></i></div>
    <div class="d-inline-block"><input class="form-control" type="text" id="searchBar" placeholder="Search for name">
    </div>
</div>

{{!-- <div class="col-6 gap-2 mx-auto">
    <ul id="nameList" class='{{groupClass}}'>
        {{#filter (groupSelector compSelect)}}
        <li><a href="employee/{{this}}">{{this}}</a></li>
        {{/filter}}
    </ul>
</div> --}}

<div class="col-6 gap-2 mx-auto">
    <div id="nameList" class="d-flex flex-wrap btn-group" role="group">
        {{#filter (groupSelector compSelect)}}
        <a href="employee/{{this.CompanyGroup}}/{{this.NameInfo}}" class="btn btn-primary col-2 m-1">{{this.NameInfo}}</a>
        {{/filter}}
    </div>
</div>

<script type="text/javascript" src="/public/search.js"></script>

{{!-- let numberArray = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20];
let b = 0;
let c = 0;

for(let i = 0; i < numberArray.length/5; i++){ let arr=[]; for(let z=b; z < b+5; z++){ arr.push(numberArray[z]); c++ }
    b=c; console.log(arr) } --}}