<form action="/empAdd" method="post">
    <div class="d-grid gap-2 col-6 mt-5 mx-auto">
        <b>Date: <span id="date"> </span></b>
        <b>Time: <span id="time"> </span></b>
        <script type="text/javascript" src="/public/time.js"></script>
    </div>
    <div class="d-grid gap-2 col-6 mt-2 mx-auto">
        <div class="input-group mb-3">
            <input type="text" class="form-control text-center" name="name" value="{{name}}" placeholder="Employee Name">
            <span class="input-group-text" id="basic-addon2">{{comp}}</span>
        </div>
        <input type="text" class="form-control text-center" name="vehicleReg" value="{{reg}}"
            placeholder="Vehicle Registration">
    </div>
    <div class="d-grid gap-2 col-6 mt-2 mx-auto">
        <label class="form-check-label" for="vehicleType">
            Type of vehicle
        </label>
        <div id="vehicleType">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="type" value="Car" id="car" {{selected 'Car' data}}>
                <label class="form-check-label" for="car">
                    Car
                </label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="type" value="Van" id="van" {{selected 'Van' data}}>
                <label class="form-check-label" for="van">
                    Van
                </label>
            </div>
        </div>
    </div>
    <div class="text-center mt-2">
        <button class="btn btn-primary" name="vehRegAdd" value="Add" on type="submit">Submit</button>
    </div>
</form>